<nav class="navbar navbar-expand-sm navbar-light bg-light mb-5">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="btn btn-info" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a style="margin-left: 10px;" class="btn btn-info" href="{% url 'polls:list' %}">Polls</a>
                <a style="margin-left: 10px;" class="btn btn-info" href="{% url 'polls:list_by_user' %}">My Polls</a>

            </li>
            {% endif %}
        </ul>
        <div class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <a style="margin-right: 10px; color:azure" class="btn btn-success">Hello {{user.username}} </a>
            <a class="btn btn-danger" href="{% url 'accounts:logout' %}">Logout</a>
            {% else %}
            <a style="margin-right: 10px;" class="btn btn-success" href="{% url 'accounts:login' %}">Login</a>
            <a class="btn btn-info" href="{% url 'accounts:register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>